@page
@model BookCollection.Views.Home.IndexModel

<div class="jumbotron text-light text-center">
    <h1 class="display-3 font-weight-bold">Welcome to my Book Collection!</h1>
    <p class="lead font-weight-bold">A collection of all the books I have read and those on my wish list.</p>
    <a class="btn btn-primary" asp-controller="Books" asp-action="Add">Add a Book</a>
</div>
