<!DOCTYPE html>
<!-- CSIS3734/CSIQ3734: Main Test 2 (2021) -->
<!-- GS. Grivas (2017374683) -->
<!-- Initials. Surname (Student number)-->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link asp-href-include="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <title>SACLA - @ViewData["Title"]</title>
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">SACLA</a>

            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#MyNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse justify-content-stretch"
                 id="MyNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Papers" asp-action="Index">Papers</a></li>

                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="News">News</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-link">Hello, @User.Identity.Name</li>

                        @if (User.IsInRole("Author"))
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Papers" asp-action="MyPapers">My Papers</a></li>
                        }

                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="post">

                                <button class="btn btn-link nav-link" type="submit">Log Out</button>

                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="pb-3">
            @RenderBody()
        </div>
    </div>


    <!-- Footer -->
    <div class="container mt-5 border-top footer text-muted">
        <div class="text-center small">
            <p class="small">
                <!-- Replace with your own Initials. Surname (Student no.)-->
                Created by: GS. Grivas (2017374683)
                <br />
                &copy; CSIS3734/CSIQ3734 - Main Test 2 (2021)
            </p>
        </div>
    </div>

    <!-- JavaScript -->
    <script asp-src-include="lib/jquery/jquery.slim.min.js"></script>
    <script asp-src-include="lib/popper.js/popper.min.js"></script>
    <script asp-src-include="lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

