@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-dark text-center bg-light">
    <h1 class="display-3 font-weight-bold">Welcome to <br />Greenhouse Nursery!</h1>
    <p class="lead font-weight-bold">
        A little corner of paradise in the heart of Bloemfontein.
    </p>
</div>

<h2>About</h2>
<p>
    The historic Wild Olive estate is home to our completely organically
    grown and managed boutique nursery and is also your port-of-call
    for bespoke landscaping services. We encourage our clients to take
    the earth into consideration in their own gardens and  in addition
    to providing the tools, such as organic fertilisers and pesticides,
    you are welcome to pop in for some advice from our experienced team,
    or just come and soak up the atmosphere...
</p>
